---
---

$background-image-heigth: 300px

.site-header
  background-image: url(../assets/header.jpg)
  background-size: cover
  background-position: right bottom
  width: 100%
  min-height: $background-image-heigth


footer [class*=col-]
  margin: 6px
  min-height: 100%
  display: flex
  items-align: center 
// vim: set ts=2:sw=2:sts=2:et:
