---
---

*
  margin: 0
  padding: 0
  box-sizing: border-box

h1, h2, h3
  font-family: serif

body
  font-family: sans-serif

.site-header
  h1
    font-family: serif
    font-size: 72px
    font-weight: 900

  small
    font-style: sans-serif
    font-style: italic

$min-footer-height: 40px

footer div[class*="col-"]
  min-height: $min-footer-height

.footer-column-right
  float: right
  text-align: right
  position: relative
  padding-left: 0px
  padding-right: 0px

.copyright
  position: absolute
  bottom: 0
  right: 0
  margin-right: 16px
  font-family: serif
  font-size: 11px
  font-style: italic
  font-weight: 100
   

// vim: set ts=2:sw=2:sts=2:et:
