---
---

*
  margin: 0
  padding: 0
  box-sizing: border-box

h1, h2, h3
  font-family: serif

$container-width: 720px

.container
  @media screen and (min-width: $container-width)
    max-width: $container-width

.clean-link, .clean-link:hover, .clean-link:active, .clean-link:visited, .clean-link:link
  text-decoration: none
  color: inherit

body
  font-family: sans-serif

.site-header
  h1
    font-family: serif
    font-size: 4em
    font-weight: 900

  small
    font-style: sans-serif
    font-style: italic

footer div[class*="col-"]:first-of-type
  padding-right: 0

footer div[class*="col-"]:last-of-type
  float: right
  text-align: right
  position: relative
  padding: 0
  margin-right: 16px
  min-width: 200px

.copyright
  position: absolute
  bottom: 0
  right: 0
  font-family: serif
  font-size: 11px
  font-style: italic
  font-weight: 100
  opacity: .5

footer div[class*="col-"]
  min-height: 40px
   
.post-title
  margin-bottom: 0
  margin-top: 0

h1.post-title
  font-weight: 500

.post-meta, .post-tags
  font-family: serif
  font-style: italic
  font-weight: 200 
  opacity: .7

.post-meta
  margin-bottom: 20px
  margin-left: 2px

.post-tags
  font-variant: small-caps
  text-transform: lowercase

p.post-meta
  display: inline-block

.post-blogspot
  font-family: serif
  font-style: italic
  margin-bottom: 0


// vim: set ts=2:sw=2:sts=2:et:
