<div class="container site-header">
  <a class="clean-link" href='/'>
    <h1>D. Hilst</h1>
    <small>A blog about web, programming and life ...</small>
  </a>
</div>

<div class="container">
  <div class="row">
    <div id="search-bar">
      <div class="input-group stylish-input-group">
        <input type="text" class="form-control"  placeholder="Search" >
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
      </div>
    </div>
    <div id="search-results" class="post-tags">
    </div>
  </div>
</div>
  <script src="/assets/js/lunr.js"></script>
  <script src="/assets/js/searchbar.js"></script>
<hr/>
